.navbarp {
    
    margin-bottom: 0px;
    padding-left:15px;
    padding-right:15px;
    font-size: 30px;
    background-color: #ebebeb;
    color:  teal;
}

.navbar-default{
    background-color: #ebebeb;
}

.navbar-header {
    font-family: 'Pacifico', cursive;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/black_scales.png");
    background-repeat: repeat-h;
}

.media-object {
    border-style: dotted;
    border-width: 5px;
    border-color: ghostwhite;
    
}

.panel-body {
    background-color:black;
    border-style: solid;
    border-width: 2px;
    color: #ebebeb;
}
